.container {
  width: 980px;
  margin: 0 auto;
}

.box-1 {
  height: 300px;
  text-align: center;
  background-color: #eee;
  position: relative;
  padding: 30px;
}

.box-2 {
  height: 100px;
  width: 250px;
  background-color: #999;
  position: absolute;
  bottom: 0;
  right: -30px;
}

.box-3 {
  height: 100px;
  width: 200px;
  background-color: #999;
  position: fixed;
  top: 0;
  left: 0;
}
